<div class="container mx-auto py-8 text-black">
  <app-detail-header [title]="character()?.name || ''" [subtitle]="''" [pageLabel]="'Character Details'" />

  <app-detail-layout [contentFields]="getPeopleFields()" [description]="null" [imageUrl]="null"
    [imageAltText]="'Character Image'" />

  @if (character()) {
  <div class="mt-6 space-y-4">
    <div>
      <app-resource-chips [title]="'Films'" [items]="getFilmItems()" [clickable]="true"
        (itemClick)="onFilmClick($event)" (addClick)="onAddClick('film')" />
    </div>

    <div>
      <app-resource-chips [title]="'Starships'" [items]="getStarshipItems()" [clickable]="false"
        (addClick)="onAddClick('starship')" />
    </div>

    <div>
      <app-resource-chips [title]="'Vehicles'" [items]="getVehicleItems()" [clickable]="false"
        (addClick)="onAddClick('vehicle')" />
    </div>
  </div>
  }
</div>
