<div class="mx-auto">
  <h1 class="text-6xl font-bold text-center mb-12">Characters</h1>

  @if (error()) {
  <div class="mb-6 p-4 bg-red-100 border border-red-400 text-red-700 rounded">
    <p class="font-semibold">Error</p>
    <p>{{ error() }}</p>
  </div>
  }

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    @for (people of people(); track people.url) {
    <app-resource-card [title]="people.name" [fields]="getPeopleFields(people)" [linkText]="'More Information...'"
      (linkClick)="navigateToDetail(people)" />
    }
  </div>

  <app-pagination [hasPrevious]="!!previousPage()" [hasNext]="!!nextPage()" (previousClick)="loadPreviousPage()"
    (nextClick)="loadNextPage()" />
</div>